<h1>Eat-Da-Burgah!</h1>
<div class="thing">
<div class="mediumcolumn">
<h4>EAT, EAT, EAT, EAT EM UP!</h4>
<ul class="list-group">
{{#each burgers}}
{{#unless this.devoured}}
<li class="list-group-item">
 <div class="input-group">
<p> {{this.burger_name}} </p>
<span class="input-group-btn">
<form>
<input type="hidden" name="devoured" value="true">
<button data-id={{this.ID}} id="eatBurger" name={{this.burger_name}} value={{this.devoured}} class="btn btn-default btn-sm" type="submit">  MMM YUM </button>
</form>
</span>
</div>
</li>
{{/unless}}
 {{/each}}
</ul>
</div>
<div class="col-md-4">
<h4>DELICIOUSSSSSSSS!</h4>
<div class="panel panel-default">
<ul class="list-group">
{{#each burgers}}
{{#if this.devoured}}
<li class="list-group-item">
<p>{{this.burger_name}} </p>

          </li>
          {{/if}}
        {{/each}}
        </ul>
      </div>
    </div>
  <div class="row">
  <div class="col-md-8">
    <p> Think of a burger? Add it here. </p>
    <form class="create-update-form" action="/" method="POST">
      <div class="form-group">
  <textarea class="form-control input-md" type="text" name="name" rows="3"> </textarea>

      </div>
      <button class="btn btn-default btn-lg" type="submit">Submit</button>
      </form>

  </div>
  </div>

<script type="text/javascript">


$(document).ready(function() {

$(".btn").click(function(event) {
  event.preventDefault()

 let id = $(this).attr("data-id")

 let burger_name=$(this).attr("name")
 let devoured=$(this).attr("value")

var burgerObject={
  burger_name:burger_name,
  devoured:devoured
}
console.log(burgerObject)
console.log(id)


   $.ajax("/api/"+id, {
      type: "put",
      data: burgerObject
    }).then(
      function() {
        console.log("yep");
        location.reload();
      }
    );

})

})

</script>